node_modules
dist
dist-ssr
*.local
.DS_Store

# Artefatos gerados pelo tsc -b / vite
*.tsbuildinfo
vite.config.js
vite.config.d.ts

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor
.vscode/*
!.vscode/extensions.json
.idea
